<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et nulla vel ea
    aperiam cumque, voluptatum dolore tempore deserunt quasi obcaecati
    recusandae dicta tenetur nemo! Laudantium tenetur amet aperiam! Animi,
    eveniet? Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
    quaerat necessitatibus facilis?
  </body>
</html>
